<div class="row">
        <div class="col-6">
          <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Type to filter">
        </div>
      </div>
      <hr>
      
      <table class="table table-striped" *ngIf='personas && personas.length'>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">identificación</th>
            <th scope="col">Nombre </th>
            <th scope="col">Capital inicial</th>
            <th scope="col">Tasa Interes</th>
            <th scope="col">Tiempo</th>
            <th scope="col">Valor Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let persona of personas;let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ persona.identificacion }} </td>
            <td>{{ persona.nombre}}</td>
            <td>{{ persona.capitalinicial}}</td>
            <td>{{ persona.tasadeinterescomp}}</td>
            <td>{{ persona.tiempo}}</td>
            <td>{{ persona.valortotal}}</td>
          </tr>
        </tbody>
      </table>
    